{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>教室管理系统</title>

    {% bootstrap_css %}
    {% bootstrap_javascript %}

  </head>

  <body>




          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
              <li><a>Hello, {{ user.username }}.</a></li>
              <li><a href="{% url 'users:logout' %}">log out</a></li>
            {% else %}
              <li><a href="{% url 'users:register' %}">register</a></li>
              <li><a href="{% url 'users:login' %}">log in</a></li>
            {% endif %}
          </ul>




        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <title>教室管理</title>
        <!-- Fav Icon -->
        <link rel="icon" href="static/images/favicon.ico" type="image/x-icon">

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap"
              rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
              rel="stylesheet">
        <!-- Stylesheets -->
        <link href="static/css/font-awesome-all.css" rel="stylesheet">
        <link href="static/css/icomoon.css" rel="stylesheet">
        <link href="static/css/owl.css" rel="stylesheet">
        <link href="static/css/bootstrap.css" rel="stylesheet">
        <link href="static/css/jquery.fancybox.min.css" rel="stylesheet">
        <link href="static/css/animate.css" rel="stylesheet">
        <link href="static/css/color.css" rel="stylesheet">
        <link href="static/css/global.css" rel="stylesheet">
        <link href="static/css/style.css" rel="stylesheet">
        <link href="static/css/responsive.css" rel="stylesheet">
        <div class="boxed_wrapper">
        <!-- preloader -->
        <div class="preloader">
            <div class="boxes">
                <div class="box">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="box">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="box">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="box">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        <!-- main header -->
        <header class="main-header style-two">
            <!-- header-top -->
            <div class="header-top">
                <div class="auto-container">
                    <div class="top-inner clearfix">
                        <ul class="info clearfix pull-left">
                            <li><a href="{% url 'timetable:index' %}">电子科技大学教室管理系统</a></li>
                            <li><a href="{% url 'users:login' %}">登录</a></li>
                            <li><a href="{% url 'users:register' %}">注册</a></li>
                        </ul>

                    </div>
                </div>
            </div>
         <!-- header-lower -->
            <div class="header-lower">
                <div class="auto-container">
                    <div class="lower-inner">
                        <div class="outer-box clearfix">
                            <div class="menu-area pull-left">
                                <!--Mobile Navigation Toggler-->
                                <div class="mobile-nav-toggler">
                                    <i class="icon-bar"></i>
                                    <i class="icon-bar"></i>
                                    <i class="icon-bar"></i>
                                </div>
                                <nav class="main-menu navbar-expand-md navbar-light">
                                    <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                                        <ul class="navigation clearfix">
                                            <li class="dropdown"><a href="{% url 'timetable:index' %}">主页</a>

                                            </li>
                                            <li class="dropdown"><a href="{% url 'timetable:index' %}">空教室查看</a>

                                            </li>
                                            <li class="dropdown"><a href="{% url 'timetable:school_timetable' %}">我的课表</a>

                                            </li>


                                            <li class="dropdown"><a href="index.html">教室预约</a>
                                                <div class="megamenu">
                                                    <div class="row clearfix">
                                                        <div class="col-xl-6 col-lg-12 col-md-12 column">
                                                            <ul>
                                                                <li><h4>品学楼</h4></li>
                                                                <li><a href="about-element-1.html">品学楼A</a></li>
                                                                <li><a href="about-element-2.html">品学楼B</a></li>
                                                                <li><a href="service-element-1.html">品学楼C</a></li>

                                                            </ul>
                                                        </div>
                                                        <div class="col-xl-6 col-lg-12 col-md-12 column">
                                                            <ul>
                                                                <li><h4>立人楼</h4></li>
                                                                <li><a href="shop-element-1.html">立人楼A</a></li>
                                                                <li><a href="shop-element-2.html">立人楼B</a></li>
                                                                <li><a href="news-element-1.html">立人楼C</a></li>

                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="dropdown"><a href="{% url 'timetable:index' %}">我的申请</a>

                                            </li>
                                            <li class="dropdown"><a href="index.html">用户反馈</a>

                                            </li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                            <ul class="menu-right-content pull-right clearfix">
                                <li class="search-box-outer">
                                    <div class="dropdown">
                                        <button class="search-box-btn" type="button" id="dropdownMenu3"
                                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                                                class="far fa-search"></i></button>
                                        <div class="dropdown-menu search-panel" aria-labelledby="dropdownMenu3">
                                            <div class="form-container">
                                                <form method="post" action="blog.html">
                                                    <div class="form-group">
                                                        <input type="search" name="search-field" value=""
                                                               placeholder="Search...." required="">
                                                        <button type="submit" class="search-btn"><span
                                                                class="fas fa-search"></span></button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!--sticky Header-->
            <div class="sticky-header">
                <div class="auto-container">
                    <div class="outer-box clearfix">
                        <div class="menu-area pull-left">
                            <nav class="main-menu clearfix">
                                <!--Keep This Empty / Menu will come through Javascript-->
                            </nav>
                        </div>
                        <ul class="menu-right-content pull-right clearfix">
                            <li class="search-box-outer">
                                <div class="dropdown">
                                    <button class="search-box-btn" type="button" id="dropdownMenu4"
                                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
                                            class="far fa-search"></i></button>
                                    <div class="dropdown-menu search-panel" aria-labelledby="dropdownMenu4">
                                        <div class="form-container">
                                            <form method="post" action="blog.html">
                                                <div class="form-group">
                                                    <input type="search" name="search-field" value=""
                                                           placeholder="Search...." required="">
                                                    <button type="submit" class="search-btn"><span
                                                            class="fas fa-search"></span></button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <!-- main-header end -->

        <!-- Mobile Menu  -->
        <div class="mobile-menu">
            <div class="menu-backdrop"></div>
            <div class="close-btn"><i class="fas fa-times"></i></div>

            <nav class="menu-box">
                <div class="nav-logo"><img src="static/images/uestc.png" alt="" title=""></div>
                <div class="menu-outer">
                    <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header--></div>
                <div class="contact-info">
                    <h4>Contact Info</h4>
                    <ul>
                        <li>Chicago 12, Melborne City, USA</li>
                        <li><a href="tel:+8801682648101">+88 01682648101</a></li>
                        <li><a href="mailto:info@example.com">info@example.com</a></li>
                    </ul>
                </div>
                <div class="social-links">
                    <ul class="clearfix">
                        <li><a href="index.html"><span class="fab fa-twitter"></span></a></li>
                        <li><a href="index.html"><span class="fab fa-facebook-square"></span></a></li>
                        <li><a href="index.html"><span class="fab fa-pinterest-p"></span></a></li>
                        <li><a href="index.html"><span class="fab fa-instagram"></span></a></li>
                        <li><a href="index.html"><span class="fab fa-youtube"></span></a></li>
                    </ul>
                </div>
            </nav>
        </div><!-- End Mobile Menu -->


        <!--Page Title-->
        <section class="page-title" style="background-image: url(static/title2.jpg);">
            <div class="auto-container">
                <div class="content-box">
                    <div class="title">
                        <h1>教室管理系统</h1>
                    </div>
                    <ul class="bread-crumb clearfix">
                        <li><a href="index.html">主页</a></li>
                        <li class="shape"></li>
                        <li>About Us</li>
                    </ul>
                </div>
            </div>
        </section>
        <!--End Page Title-->


        <!-- about-section -->
        <section class="about-section">
            <div class="auto-container">
                <div class="row clearfix">
                    <div class="col-lg-6 col-md-12 col-sm-12 content-column">
                        <div class="content_block_1">
                            <div class="content-box">
                                <div class="sec-title">
                                    <p>Welcome to Fauxis Curtains & Blinds</p>
                                    <div class="shape"></div>
                                    <h2>We Make Your Space Looking Fresh & Modern</h2>
                                </div>
                                <div class="text">
                                    <p>Magna aliqa enim sed ipsum nisi ain veniam quis nostrul aliqua enim lore ipsum
                                        lorem ipsum dolor sit amets consectetur adipisicing elit sed eiusmod tempor
                                        labore dolore magna aliq sed ipsumua dolor exercitation ullamco orem ipsum dolor
                                        sitam consectetur adipisicing elit sed done eiusmody.</p>
                                </div>
                                <div class="inner-box">
                                    <figure class="vector-image"><img src="static/images/resource/vector-image-1.png"
                                                                      alt=""></figure>
                                    <div class="inner clearfix">
                                        <ul class="list-item">
                                            <li>Customize Your Design</li>
                                            <li>No Compromise Quality</li>
                                        </ul>
                                        <ul class="list-item pl-45">
                                            <li>Around Natural Colors</li>
                                            <li>Best Choice Blinds Curtains</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12 image-column">
                        <div class="image_block_1">
                            <div class="image-box ml-55">
                                <figure class="vector-image rotate-me"><img
                                        src="static/images/resource/vector-image-2.png" alt=""></figure>
                                <div class="image-pattern">
                                    <div class="pattern-1"></div>
                                    <div class="pattern-2"></div>
                                    <div class="pattern-3"></div>
                                    <div class="pattern-4"></div>
                                </div>
                                <figure class="image"><img src="static/title1.jpg" alt=""></figure>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- main-footer -->
        <footer class="main-footer">
            <div class="footer-top">
                <figure class="vector-image"><img src="static/images/resource/vector-image-4.png" alt=""></figure>
                <div class="auto-container">
                    <div class="widget-section">
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                                <div class="footer-widget logo-widget">
                                    <div class="footer-logo">
                                        <figure class="logo"><a href="index.html"><img
                                                src="static/images/footer-logo.png" alt=""></a></figure>
                                        <p>Curtains, Blinds & Accessories</p>
                                    </div>
                                    <div class="text">
                                        <p>Magna aliqa enim sed ipsum nisi ain veniam lorem ipsum dolor sit amets elit
                                            sed eiusmod tempor labore dolore magna aliqa.</p>
                                    </div>
                                    <ul class="footer-social clearfix">
                                        <li><a href="index.html"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="index.html"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="index.html"><i class="fab fa-pinterest-p"></i></a></li>
                                        <li><a href="index.html"><i class="fab fa-google-plus-g"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                                <div class="footer-widget links-widget ml-100">
                                    <div class="widget-title">
                                        <h3>Curtains</h3>
                                        <div class="shape"></div>
                                    </div>
                                    <div class="widget-content">
                                        <ul class="links clearfix">
                                            <li><a href="index.html">Bedroom Curtains</a></li>
                                            <li><a href="index.html">Sheer Curtains</a></li>
                                            <li><a href="index.html">Office Curtains</a></li>
                                            <li><a href="index.html">Blackout Curtains</a></li>
                                            <li><a href="index.html">Economical Curtains</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                                <div class="footer-widget links-widget ml-70">
                                    <div class="widget-title">
                                        <h3>Blinds</h3>
                                        <div class="shape"></div>
                                    </div>
                                    <div class="widget-content">
                                        <ul class="links clearfix">
                                            <li><a href="index.html">Rollar Blinds</a></li>
                                            <li><a href="index.html">Window Blinds</a></li>
                                            <li><a href="index.html">Roman Blinds</a></li>
                                            <li><a href="index.html">Venetian Blinds</a></li>
                                            <li><a href="index.html">Wooden Blinds</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                                <div class="footer-widget newsletter-widget">
                                    <div class="widget-title">
                                        <h3>Newsletter</h3>
                                        <div class="shape"></div>
                                    </div>
                                    <div class="widget-content">
                                        <p>Subscribe to get the latest trends, news and special deals for customers.</p>
                                        <form action="index.html" method="post" class="subscribe-form">
                                            <div class="form-group">
                                                <input type="email" name="email" placeholder="Your email" required="">
                                                <button type="submit"><i class="fas fa-paper-plane"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="auto-container">
                    <div class="copyright centred">
                        <p>(&copy;) 2020. All rights <a href="http://www.bootstrapmb.com/">bootstrapmb</a>. <a
                                href="index.html">Terms & Conditions</a>&nbsp;&nbsp;<a href="index.html">Sitemap</a></p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- main-footer end -->


        <!--Scroll to top-->
        <button class="scroll-top scroll-to-target" data-target="html">
            <span class="far fa-long-arrow-alt-up"></span>
        </button>
    </div>
    </head>

</html>