<html>
<head>
{% extends "base.html" %}
{% block section%}

<section class="contact-style-two">
    <div class="row clearfix" style="background-color: #4a3b9f">
        <div class="col-lg-6 col-md-12 col-sm-12 form-column" style="background-color: #4a3b9f">
            <div class="inner-box">
                <div class="sec-title light">
                    <div style="color:white;font-size:20px;padding-top: 10px">反馈</div>
                    <div class="shape"></div>
                </div>
                <div class="form-inner">
                    <div id="contact">
                        <form method="post" action="{% url 'ordercls:feedback' %}" id="contact-form" class="default-form">
                            {% csrf_token %}
                            <div class="boxes">
                                <ul class="info clearfix">
                                    <li><div style="color:white;font-size:20px;padding-bottom: 5px">反馈类型</div></li>
                                <div class="box" style="padding-bottom: 5px">
                                    <select name="feedback-select-reason" class="select">
                                        {% for reason in reason_list %}
                                        <option value="{{reason}}">{{reason}}</option>
                                        {% endfor %}
                                    </select>
                                </div>

                                <div style="color:white;font-size:20px">具体理由</div>

                                <div class="col-lg-12 col-md-12 col-sm-12 form-group">
                                        <textarea name="feedback-message" placeholder="申请理由详述 ..."></textarea>
                                </div>
                                    <p style="color:white;font-size:15px;">{{hint}}</p>
                                <div><h6 style="color:white;font-size:20px;padding-bottom: 5px">请以附件形式提交反馈凭证（支持以图片、音频、视频格式上传）:</h6></div>
                                <div><h6 style="color:white;font-size:20px;padding-bottom: 5px">提示：仅限20M以内文件</h6></div>

                                <div class="col-lg-12 col-md-12 col-sm-12 form-group message-btn">
                                        <button class="theme-btn-one" onclick="upload.click()" style="line-height: 15px">附件</button>
                                        <input type="file" name="upload" id="upload" value='none' style="display: none;" />
                                </div>

                                <div class="col-lg-12 col-md-12 col-sm-12 form-group message-btn">
                                        <button class="theme-btn-one" type="submit" name="submit-form" value="normal">提交</button>
                                </div>
                                </ul>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 info-column" style="background-color: #4a3b9f">
            <div class="info-box">
                <h3>我们的联系方式</h3>
                <ul class="info clearfix">
                    <li>
                        <i class="fal fa-map-marker"></i>
                        <p>工作室</p>
                        <h4>八块石头工作坊</h4>
                    </li>
                    <li>
                        <i class="fal fa-phone"></i>
                        <h4><span>电话</span><a href="tel:1258985703">185#######</a></h4>
                    </li>
                    <li>
                        <i class="fal fa-envelope-open"></i>
                        <h4><span>电子邮箱</span><a href="mailto:info@example.com">17#######</a></h4>
                    </li>
                </ul>
                </div>
            </div>
    </div>
</section>
{% endblock%}
</head>
</html>

