<!doctype html>
<html></html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Effe - Personal Blog</title>
<link rel="shortcut icon" href="favicon.ico" />
<!-- Load CSS -->
<link href="css/style.css" rel="stylesheet" type="text/css" />
<!-- Load Fonts -->
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Serif:regular,italic,bold,bolditalic" type="text/css" />
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold" type="text/css" />
<!-- Load jQuery library -->
<script type="text/javascript" src="../static/scriptss/jquery-1.6.2.min.js"></script>
<!-- Load custom js -->
<script type="text/javascript" src="../static/scriptss/panelslide.js"></script>
<script type="text/javascript" src="../static/scriptss/custom.js"></script>
<!-- Load topcontrol js -->
<script type="text/javascript" src="../static/scriptss/scrolltopcontrol.js"></script>
<!-- Load NIVO Slider -->
<link rel="stylesheet" href="css/nivo-slider.css" type="text/css" media="screen" />
<link rel="stylesheet" href="css/nivo-theme.css" type="text/css" media="screen" />
<script src="../static/scriptss/jquery.nivo.slider.pack.js" type="text/javascript"></script>
<script src="../static/scriptss/nivo-options.js" type="text/javascript"></script>
<!-- Load fancybox -->
<script type="text/javascript" src="../static/scriptss/jquery.fancybox-1.3.4.pack.js"></script>
<script type="text/javascript" src="../static/scriptss/jquery.easing-1.3.pack.js"></script>
<script type="text/javascript" src="../static/scriptss/jquery.mousewheel-3.0.4.pack.js"></script>
<link rel="stylesheet" href="css/jquery.fancybox-1.3.4.css" type="text/css" media="screen" />
</head>
<body>
<!--This is the START of the header-->
<div id="topcontrol" style="position: fixed; bottom: 5px; left: 960px; opacity: 1; cursor: pointer;" title="Go to Top"></div>
<div id="header-wrapper">
	<div id="header">
		<div id="logo"> <a href="index.html"><img src="images/UESTC logo.jpg" width="100" height="100" alt="logo" /></a> </div>
		<div id="header-text">
		  <h4>教室管理系统欢迎您！</h4>
	<a style="color:#000000" href="index.html" >登录/</a>
	<a style="color:#000000" href="index.html" >注册</a>
		</div>
	</div>
</div>
<!--END of header-->
<!--This is the START of the menu-->
<div id="menu-wrapper">
	<div id="main-menu">
		<ul>
			<li><a class="selected" href="index.html">主页 →</a></li>
			<li><a href="课表.html">我的课表</a></li>
			<li><a href="教室预约.html">教室预约</a></li>
			<li><a href="反馈.html">反馈</a></li>
		</ul>
	</div>
	<!--This is the START of the footer-->
	<div id="footer">
		<div id="social-box">
			<ul>
				<li>
					<div class="facebook"><a href="#"></a></div>
				</li>
				<li>
					<div class="twitter"><a href="#"></a></div>
				</li>
				<li>
					<div class="rss"><a href="#"></a></div>
				</li>
			</ul>
		</div>
	</div>
	<!--END of footer-->
</div>
<!--END of menu-->
<!--This is the START of the content-->
<div id="content">
	<!--This is the START of the NIVO slider-->
	<div class="container mt-2">
      <div class="row">
        <div class="col-12">
          <div class="jumbotron">
            <h1 class="text-center">请选择你要查看的区域</h1>
            <div class="row justify-content-center">
              
              <div class="col-auto">
               <div class="col-auto">
				   <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-primary btn-lg" href="#" role="button">搜索</button>
       
               
				   </form>
              </div>
            </div>
            <p class="text-center"> </p>
		  <div style="position:relative"><img src="images/findphoto1.jpg">
			  <div style="position:absolute;
			  top:120px;	/*相对于父级元素，向下移10px*/
			  width:600px; /*设置文字盒子的宽度，这里设置其和图片宽度一致*/	
			  height:40px;	line-height:40px;/*设置行高和高度一样，可以实现单行元素，在垂直方向上的居中*/	
			  text-align:center;/*设置文字水平居中*/		
			  /*opacity:0.6;/*设置背景颜色透明度为0.6*/
">立人楼A</div>
			  <div style="position:absolute;
			  top:250px;	/*相对于父级元素，向下移10px*/
			  width:300px; /*设置文字盒子的宽度，这里设置其和图片宽度一致*/	
			  height:40px;	line-height:40px;/*设置行高和高度一样，可以实现单行元素，在垂直方向上的居中*/	
			  text-align:center;/*设置文字水平居中*/		
			  /*opacity:0.6;/*设置背景颜色透明度为0.6*/
">立人楼B</div>
			  <div style="position:absolute;
			  top:200px;	/*相对于父级元素，向下移10px*/
			  width:1100px; /*设置文字盒子的宽度，这里设置其和图片宽度一致*/	
			  height:40px;	line-height:40px;/*设置行高和高度一样，可以实现单行元素，在垂直方向上的居中*/	
			  text-align:center;/*设置文字水平居中*/		
			  /*opacity:0.6;/*设置背景颜色透明度为0.6*/
">品学楼B</div>
			  <div style="position:absolute;
			  top:180px;	/*相对于父级元素，向下移10px*/
			  width:1530px; /*设置文字盒子的宽度，这里设置其和图片宽度一致*/	
			  height:40px;	line-height:40px;/*设置行高和高度一样，可以实现单行元素，在垂直方向上的居中*/	
			  text-align:center;/*设置文字水平居中*/		
			  /*opacity:0.6;/*设置背景颜色透明度为0.6*/
"><a href="主页-楼栋.html">品学楼A</a></div>
			  <div style="position:absolute;
			  top:370px;	/*相对于父级元素，向下移10px*/
			  width:1350px; /*设置文字盒子的宽度，这里设置其和图片宽度一致*/	
			  height:40px;	line-height:40px;/*设置行高和高度一样，可以实现单行元素，在垂直方向上的居中*/	
			  text-align:center;/*设置文字水平居中*/		
			  /*opacity:0.6;/*设置背景颜色透明度为0.6*/
">品学楼C</div>
			  
			  </div> 
          </div>
        </div>
      </div>
	 </div>
   
    </div>
	</div>
	<!--END of NIVO Slider-->
	<!--This is the START of the recent posts-->
	<div class="spacer"></div>
	<div id="recent-text">
	  <h2>关于我们</h2>
	  <div class="star-divider"></div>
	  <h5>教室管理系统致力于为成电人提供最贴心的服务！</h5>
	  <div class="spacer"></div>
	</div>
<!--END of content-->
<p class="slide"><a href="#" class="btn-slide"></a></p>
<p class="slide"><a href="#" class="btn-slide"></a></p>

</body>