<html>
<head>
{% extends "base.html" %}
{% block section%}

        <!-- about-section -->
<section class="about-section">
	<div class="auto-container">
		<div>
			<div style="padding-bottom: 20px"></div>
			<div id="playId" style=" margin-left: 20px; position: relative;">
				 <label>
					<span>修改学期:</span>
					<select name="select2" class="select2" style="border:1px solid black">
						<option value="">大一上学期</option>
						<option value="">大一下学期</option>
						<option value="">大二上学期</option>
						<option value="">大二下学期</option>
						<option value="">大三上学期</option>
						<option value="">大三下学期</option>
						<option value="">大四上学期</option>
						<option value="">大四下学期</option>
					</select>
				</label>
				 <label>
					<span>修改周数:</span>
					<select name="select2" class="select2" style="border:1px solid black">
						<option value="">第一周</option>
						<option value="">第二周</option>
						<option value="">第三周</option>
						<option value="">第四周</option>
						<option value="">第五周</option>
						<option value="">第六周</option>
						<option value="">第七周</option>
						<option value="">第八周</option>
						<option value="">第九周</option>
						<option value="">第十周</option>
						<option value="">第十一周</option>
						<option value="">第十二周</option>
						<option value="">第十三周</option>
						<option value="">第十四周</option>
						<option value="">第十五周</option>
					  <option value="">第十六周</option>
						<option value="">第十七周</option>
						<option value="">第十八周</option>
						<option value="">第十九周</option>
						<option value="">第二十周</option>
					</select>
				</label>
				<label><button type="submit" class="btn" style="background-color: #0d95e8">确定</button></label>
			  <div class="spacer"></div>
			  <div class="about">
				<table class="school_table">
				<thead>
				<tr>
			<!--item.name：第几学期第几周-->
					<div class="text" style=" text-align:left;">{{item.name}}</div>
				</tr>
				</thead>

				<tr>
			<!--item.name：几月-->
					<th>节</th>
					<th>周一</th>
					<th>周二</th>
					<th>周三</th>
					<th>周四</th>
					<th>周五</th>
					<th>周六</th>
					<th>周天</th>

				</tr>`

					{% for line in data %}
				<tr>
					<th>{{line.index}}</th>
					{% for col in line.text%}
					<td style="background-color:{{col.color}}">{{col.text}}</td>
					{% endfor%}
				</tr>
					{% endfor%}

				</table>
			  </div>
			  <div class="spacer"></div>
			</div>
		</div>
	</div>>
</section>

{% endblock%}
</html>
