<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<title>Fauxis - HTML 5 Template Preview</title>

<!-- Fav Icon -->
<link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">

<!-- Stylesheets -->
<link href="{% static 'css/font-awesome-all.css' %}" rel="stylesheet">
<link href="{% static 'css/icomoon.css' %}" rel="stylesheet">
<link href="{% static 'css/owl.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
<link href="{% static 'css/jquery.fancybox.min.css' %}" rel="stylesheet">
<link href="{% static 'css/animate.css' %}" rel="stylesheet">
<link href="{% static 'css/color.css' %}" rel="stylesheet">
<link href="{% static 'css/global.css' %}" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet">
<link href="{% static 'css/responsive.css' %}" rel="stylesheet">

</head>


<!-- page wrapper -->
<body>

    <div class="boxed_wrapper">


        <!-- preloader -->
        <div class="preloader">
            <div class="boxes">
                <div class="box">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="box">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="box">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="box">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
            </div>
        </div>
        <!-- preloader end -->


        <!-- main header -->
        <header class="main-header style-two">
            <!-- header-top -->
            <div class="header-top">
                <div class="auto-container">
                    <div class="top-inner clearfix">
                        <ul class="info clearfix pull-left">
                            <li><a href="index-2.html">About</a></li>
                            <li><a href="index-2.html">Careers</a></li>
                            <li><a href="index-2.html">Services</a></li>
                            <li><a href="index-2.html">Our Stores</a></li>
                        </ul>
                        <ul class="header-social clearfix pull-right">
                            <li>Connect Socially</li>
                            <li><a href="index-2.html"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="index-2.html"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="index-2.html"><i class="fab fa-pinterest-p"></i></a></li>
                            <li><a href="index-2.html"><i class="fab fa-google-plus-g"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- header-upper -->
            <div class="header-upper">
                <div class="auto-container">
                    <div class="upper-inner clearfix">
                        <div class="logo-box pull-left">
                            <figure class="logo"><a href="index.html"><img src="{% static 'images/logo-2.png' %}" alt=""></a></figure>
                        </div>
                        <ul class="upper-info clearfix pull-right">
                            <li>
                                <i class="fas fa-map-marker-alt"></i>
                                <h6>Store Location</h6>
                                <h5>85 Twin City, NY</h5>
                            </li>
                            <li>
                                <i class="fas fa-phone-volume"></i>
                                <h6>Custom Orders</h6>
                                <h5><a href="tel:1258985703">1-258-985-703</a></h5>
                            </li>
                            <li>
                                <i class="far fa-clock"></i>
                                <h6>Store Opening Hours</h6>
                                <h5>Mon Sat : 8am - 7pm</h5>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- header-lower -->
            <div class="header-lower">
                <div class="auto-container">
                    <div class="lower-inner">
                        <div class="outer-box clearfix">
                            <div class="menu-area pull-left">
                                <!--Mobile Navigation Toggler-->
                                <div class="mobile-nav-toggler">
                                    <i class="icon-bar"></i>
                                    <i class="icon-bar"></i>
                                    <i class="icon-bar"></i>
                                </div>
                                <nav class="main-menu navbar-expand-md navbar-light">
                                    <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                                        <ul class="navigation clearfix">
                                            <li class="dropdown"><a href="index.html">Home</a>
                                                <ul>
                                                    <li><a href="index.html">Home Page 01</a></li>
                                                    <li><a href="index-2.html">Home Page 02</a></li>
                                                    <li><a href="index-onepage.html">OnePage Home</a></li>
                                                    <li><a href="index-rtl.html">RTL Home</a></li>
                                                    <li class="dropdown"><a href="index.html">Header Style</a>
                                                        <ul>
                                                            <li><a href="index.html">Header Style 01</a></li>
                                                            <li><a href="index-2.html">Header Style 02</a></li>
                                                        </ul>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="dropdown"><a href="index.html">Pages</a>
                                                <ul>
                                                    <li><a href="about.html">About Us</a></li>
                                                    <li><a href="gallery-1.html">Gallery Page 01</a></li>
                                                    <li><a href="gallery-2.html">Gallery Page 02</a></li>
                                                    <li><a href="gallery-3.html">Gallery Page 03</a></li>
                                                    <li><a href="error.html">404</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown"><a href="index.html">Services</a>
                                                <ul>
                                                    <li><a href="service.html">Our Services</a></li>
                                                    <li><a href="service-details.html">Roller Blinds</a></li>
                                                    <li><a href="service-details-2.html">Duplex Blinds</a></li>
                                                    <li><a href="service-details-3.html">Venetian Blinds</a></li>
                                                    <li><a href="service-details-4.html">Roman Blinds</a></li>
                                                    <li><a href="service-details-5.html">Vertical Blinds</a></li>
                                                </ul>
                                            </li>
                                            <li class="dropdown"><a href="index.html">Elements</a>
                                                <div class="megamenu">
                                                    <div class="row clearfix">
                                                        <div class="col-xl-6 col-lg-12 col-md-12 column">
                                                            <ul>
                                                                <li><h4>Elements 1</h4></li>
                                                                <li><a href="about-element-1.html">About Block 01</a></li>
                                                                <li><a href="about-element-2.html">About Block 02</a></li>
                                                                <li><a href="service-element-1.html">Service Block 01</a></li>
                                                                <li><a href="service-element-2.html">Service Block 02</a></li>
                                                                <li><a href="service-element-3.html">Service Block 03</a></li>
                                                                <li><a href="feature-element-1.html">Feature Block 01</a></li>
                                                                <li><a href="feature-element-2.html">Feature Block 02</a></li>
                                                                <li><a href="feature-element-3.html">Feature Block 03</a></li>
                                                            </ul>
                                                        </div>
                                                        <div class="col-xl-6 col-lg-12 col-md-12 column">
                                                            <ul>
                                                                <li><h4>Elements 2</h4></li>
                                                                <li><a href="shop-element-1.html">Shop Block 01</a></li>
                                                                <li><a href="shop-element-2.html">Shop Block 02</a></li>
                                                                <li><a href="news-element-1.html">News Block 01</a></li>
                                                                <li><a href="news-element-2.html">News Block 02</a></li>
                                                                <li><a href="working-element-1.html">Working Block 01</a></li>
                                                                <li><a href="working-element-2.html">Working Block 02</a></li>
                                                                <li><a href="chooseus-element.html">Chooseus Block</a></li>
                                                                <li><a href="clients-element.html">Clients Block</a></li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="dropdown"><a href="index.html">Blog</a>
                                                <ul>
                                                    <li><a href="blog-grid.html">Blog Grid</a></li>
                                                    <li><a href="blog-list.html">Blog List</a></li>
                                                    <li><a href="blog-details.html">Blog Details</a></li>
                                                </ul>
                                            </li>
                                            <li class="current"><a href="contact.html">Contact</a></li>
                                        </ul>
                                    </div>
                                </nav>
                            </div>
                            <ul class="menu-right-content pull-right clearfix">
                                <li class="search-box-outer">
                                    <div class="dropdown">
                                        <button class="search-box-btn" type="button" id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="far fa-search"></i></button>
                                        <div class="dropdown-menu search-panel" aria-labelledby="dropdownMenu3">
                                            <div class="form-container">
                                                <form method="post" action="blog.html">
                                                    <div class="form-group">
                                                        <input type="search" name="search-field" value="" placeholder="Search...." required="">
                                                        <button type="submit" class="search-btn"><span class="fas fa-search"></span></button>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="support-box">
                                    <a href="index-2.html">
                                        <i class="icon-calendar"></i>
                                        <h4>Free Consulting</h4>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <!--sticky Header-->
            <div class="sticky-header">
                <div class="auto-container">
                    <div class="outer-box clearfix">
                        <div class="menu-area pull-left">
                            <nav class="main-menu clearfix">
                                <!--Keep This Empty / Menu will come through Javascript-->
                            </nav>
                        </div>
                        <ul class="menu-right-content pull-right clearfix">
                            <li class="search-box-outer">
                                <div class="dropdown">
                                    <button class="search-box-btn" type="button" id="dropdownMenu4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="far fa-search"></i></button>
                                    <div class="dropdown-menu search-panel" aria-labelledby="dropdownMenu4">
                                        <div class="form-container">
                                            <form method="post" action="blog.html">
                                                <div class="form-group">
                                                    <input type="search" name="search-field" value="" placeholder="Search...." required="">
                                                    <button type="submit" class="search-btn"><span class="fas fa-search"></span></button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="support-box">
                                <a href="index-2.html">
                                    <i class="icon-calendar"></i>
                                    <h4>Free Consulting</h4>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>
        <!-- main-header end -->



        <!--Page Title-->
        <section class="page-title" style="background-image: url(static/images/background/page-title.jpg);">
            <div class="auto-container">
                <div class="content-box">
                    <div class="title">
                        <h1>Contact Us</h1>
                    </div>
                    <ul class="bread-crumb clearfix">
                        <li><a href="index.html">Home</a></li>
                        <li class="shape"></li>
                        <li>Contact Us</li>
                    </ul>
                </div>
            </div>
        </section>
        <!--End Page Title-->


        <!-- google-map-section -->
        <section class="google-map-section">
            <div class="map-inner">
                <div class="google-map"
                    id="contact-google-map"
                    data-map-lat="40.712776"
                    data-map-lng="-74.005974"
                    data-icon-path="static/images/icons/map-marker.png"
                    data-map-title="Brooklyn, New York, United Kingdom"
                    data-map-zoom="12"
                    data-markers='{
                        "marker-1": [40.712776, -74.005974, "<h4>Branch Office</h4><p>77/99 New York</p>","static/images/icons/map-marker.png"]
                    }'>

                </div>
            </div>
        </section>
        <!-- google-map-section -->


        <!-- contact-style-two -->
      <div id="content">
  <div class="spacer"></div>
  <div class="team-text">
    <h2><a href="课程查询.html ">全校开课查询</a></h2>
	<div class="star-divider"></div>
    <h5><div >

    <div id="playId"
        style=" margin-left: 20px; position: relative;float:left">
         <label>
            <span>修改学期:</span>
			  <br/>
            <select name="select2" class="select2">
                <option value="">大一上学期</option>
                <option value="">大一下学期</option>
                <option value="">大二上学期</option>
                <option value="">大二下学期</option>
				<option value="">大三上学期</option>
				<option value="">大三下学期</option>
				<option value="">大四上学期</option>
				<option value="">大四下学期</option>
            </select>
        </label>
    </div>
		 <label>
            <span>修改周数:</span>
			 <br/>
            <select name="select2" class="select2">
                <option value="">第一周</option>
                <option value="">第二周</option>
                <option value="">第三周</option>
                <option value="">第四周</option>
				<option value="">第五周</option>
				<option value="">第六周</option>
				<option value="">第七周</option>
				<option value="">第八周</option>
				<option value="">第九周</option>
				<option value="">第十周</option>
				<option value="">第十一周</option>
				<option value="">第十二周</option>
				<option value="">第十三周</option>
				<option value="">第十四周</option>
				<option value="">第十五周</option>
			  <option value="">第十六周</option>
				<option value="">第十七周</option>
				<option value="">第十八周</option>
				<option value="">第十九周</option>
				<option value="">第二十周</option>
            </select>
        </label>



   </div></h5>
  </div>
  <div class="spacer"></div>
  <div class="about">
<table border="1px" align="center">
	<thead>
	<tr>
{#        item.name：第几学期第几周#}
		<th colspan="8">{{item.name}}</th>
	</tr>
	</thead>
	<tr>
{#        item.name：几月#}
		<th>{{item.name}}</th>
		<th>周一</th>
		<th>周二</th>
		<th>周三</th>
		<th>周四</th>
		<th>周五</th>
		<th>周六</th>
		<th>周天</th>

	</tr>
	<tr>

		<th>1</th>
{#        item.name：课程名 课程地点#}
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
	</tr>
		<tr>
		<th>2</th>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
	</tr>
		<tr>
		<th>3</th>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
	</tr>
		<tr>
		<th>4</th>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
	</tr>
		<tr>
		<th>5</th>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
	</tr>
		<tr>
		<th>6</th>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
	</tr>
		<tr>
		<th>7</th>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
	</tr>
		<tr>
		<th>8</th>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
	</tr>
		<tr>
		<th>9</th>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
	</tr>
		<tr>
		<th>10</th>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
	</tr>
		<tr>
		<th>11</th>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
	</tr>
		<tr>
		<th>12</th>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
		<td>{{item.name}}</td>
	</tr>
	</table>
  </div>
  <div class="spacer"></div>
</div>


        <!-- main-footer -->
        <footer class="main-footer">
            <div class="footer-top">
                <figure class="vector-image"><img src="{% static 'images/resource/vector-image-4.png' %}" alt=""></figure>
                <div class="auto-container">
                    <div class="widget-section">
                        <div class="row clearfix">
                            <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                                <div class="footer-widget logo-widget">
                                    <div class="footer-logo">
                                        <figure class="logo"><a href="index.html"><img src="{% static 'images/footer-logo.png' %}" alt=""></a></figure>
                                        <p>Curtains, Blinds & Accessories</p>
                                    </div>
                                    <div class="text">
                                        <p>Magna aliqa enim sed ipsum nisi ain veniam lorem ipsum dolor sit amets elit sed eiusmod tempor labore dolore magna aliqa.</p>
                                    </div>
                                    <ul class="footer-social clearfix">
                                        <li><a href="index.html"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="index.html"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="index.html"><i class="fab fa-pinterest-p"></i></a></li>
                                        <li><a href="index.html"><i class="fab fa-google-plus-g"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                                <div class="footer-widget links-widget ml-100">
                                    <div class="widget-title">
                                        <h3>Curtains</h3>
                                        <div class="shape"></div>
                                    </div>
                                    <div class="widget-content">
                                        <ul class="links clearfix">
                                            <li><a href="index.html">Bedroom Curtains</a></li>
                                            <li><a href="index.html">Sheer Curtains</a></li>
                                            <li><a href="index.html">Office Curtains</a></li>
                                            <li><a href="index.html">Blackout Curtains</a></li>
                                            <li><a href="index.html">Economical Curtains</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                                <div class="footer-widget links-widget ml-70">
                                    <div class="widget-title">
                                        <h3>Blinds</h3>
                                        <div class="shape"></div>
                                    </div>
                                    <div class="widget-content">
                                        <ul class="links clearfix">
                                            <li><a href="index.html">Rollar Blinds</a></li>
                                            <li><a href="index.html">Window Blinds</a></li>
                                            <li><a href="index.html">Roman Blinds</a></li>
                                            <li><a href="index.html">Venetian Blinds</a></li>
                                            <li><a href="index.html">Wooden Blinds</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 col-md-6 col-sm-12 footer-column">
                                <div class="footer-widget newsletter-widget">
                                    <div class="widget-title">
                                        <h3>Newsletter</h3>
                                        <div class="shape"></div>
                                    </div>
                                    <div class="widget-content">
                                        <p>Subscribe to get the latest trends, news and special deals for customers.</p>
                                        <form action="index.html" method="post" class="subscribe-form">
                                            <div class="form-group">
                                                <input type="email" name="email" placeholder="Your email" required="">
                                                <button type="submit"><i class="fas fa-paper-plane"></i></button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="auto-container">
                    <div class="copyright centred">
                        <p>(&copy;) 2020. All rights <a href="http://www.bootstrapmb.com/">bootstrapmb</a>. <a href="index.html">Terms & Conditions</a>&nbsp;&nbsp;<a href="index.html">Sitemap</a></p>
                    </div>
                </div>
            </div>
        </footer>
        <!-- main-footer end -->


        <!--Scroll to top-->
        <button class="scroll-top scroll-to-target" data-target="html">
            <span class="far fa-long-arrow-alt-up"></span>
        </button>
    </div>


    <!-- jequery plugins -->
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/owl.js' %}"></script>
    <script src="{% static 'js/wow.js' %}"></script>
    <script src="{% static 'js/validation.js' %}"></script>
    <script src="{% static 'js/jquery.fancybox.js' %}"></script>
    <script src="{% static 'js/appear.js' %}"></script>
    <script src="{% static 'js/scrollbar.js' %}"></script>
    <script src="{% static 'js/bxslider.js' %}"></script>
    <script src="{% static 'js/isotope.js' %}"></script>

    <!-- map script -->
    <script src="http://www.google.cn/maps/api/js?key=AIzaSyA-CE0deH3Jhj6GN4YvdCFZS7DpbXexzGU"></script>
    <script src="{% static 'js/gmaps.js' %}"></script>
    <script src="{% static 'js/map-helper.js' %}"></script>

    <!-- main-js -->
    <script src="{% static 'js/script.js' %}"></script>

</body><!-- End of .page_wrapper -->
</html>
